DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=taipei_day_trip
IMG_HOST=img_host
JWT_SECRET_KEY=your_secret_key
JWT_ALGORITHM=HS256
TAPPAY_PARTNER_KEY=your_partner_key
TAPPAY_MERCHANT_ID=your_merchant_id
TAPPAY_ENDPOINT = tappay_endpoint